*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.banner{
	display: flex;
	justify-content: flex-end;
	height: 100vh;
	width: 100vw;
	background: url(../img/main-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.banner__info{
	height: 350px;
	width: 40%;
	margin-right: 50px;
	margin-top: 200px;
	font-family: 'Dosis', sans-serif;
}
.banner__title{
	height: 70px;
	font-size: 43px;
	line-height: 50px;
}
.banner__subtitle{
	height: 50px;
	font-size: 29px;
	line-height: 30px;
}
.banner__text{
	height: 190px;
	font-size: 20px;
}
.banner__info>div{
	margin: 5px 0;
	background: rgba(0, 0, 0, .5);
	color: white;
	padding: 10px;
}
.banner__btn{
	background: green;
	border: none;
	display: block;
	padding: 5px 20px;
	margin-top: 30px;
	border-radius: 5px;
}
.banner__btn a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
.dots{
	display: flex;
	width: 150px;
	justify-content: space-around;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
}
.dot-item{
	height: 25px;
	width: 25px;
	background: rgba(0, 0, 0, .5);
	border-radius: 50%;
	cursor: pointer;
}